#home{
    z-index: 4;
    padding-top: 18%;
    padding-bottom: 12%;
}
.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height: 100vh;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    position: relative;
}

// https://unsplash.com/photos/APVgVX_yDDc
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    z-index: 2;
    gap: 24px;
    height: 100%;
}
.fullname{
    color: #494d42;
    font-size: 70px;
    line-height: 48px;
    text-align: center;
    position: relative;
    display: inline; 
}

.fullname::after{
    content: "";
    position: absolute;
    width: 320px;
    height: 7px;
    background: #e261bb;
    transform: skew(-18deg) translateX(-50%);
    left: 70%;
    bottom: -15px;
    z-index: -1;
}

.resume{
    list-style: none;
    width: 130px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.4rem;
    border: 2px solid #3b4754;
    color: black;
    background: #e8fcbc;
    box-shadow: 3px 3px 0 0 #3b4754;
    font-weight: 600;
    transition: all 0.3s;
    text-transform: uppercase;
}
